{% extends 'profile/index.html.twig' %}

{% block title %}Create Dog{% endblock %}

{% block body %}
    <div id="dogCreate">
        <h1>{% if update %}Update{% else %}Create{% endif %} Dog</h1>

        {{ form_start(dogForm) }}
            <table>
                <tr>
                    <td>{{ form_label(dogForm.name) }}</td>
                    <td>{{ form_errors(dogForm.name) }}<br>{{ form_widget(dogForm.name) }}<br>{{ form_help(dogForm.name) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(dogForm.breed) }}</td>
                    <td>{{ form_errors(dogForm.breed) }}<br>{{ form_widget(dogForm.breed) }}<br>{{ form_help(dogForm.breed) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(dogForm.age) }}</td>
                    <td>{{ form_errors(dogForm.age) }}<br>{{ form_widget(dogForm.age) }}<br>{{ form_help(dogForm.age) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(dogForm.about) }}</td>
                    <td>{{ form_errors(dogForm.about) }}<br>{{ form_widget(dogForm.about) }}<br>{{ form_help(dogForm.about) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(dogForm.imageName) }}</td>
                    <td>{{ form_errors(dogForm.imageName) }}<br>{{ form_widget(dogForm.imageName) }}<br>{{ form_help(dogForm.imageName) }}</td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-lg btn-primary">{% if update %}Update{% else %}Create{% endif %} Dog</button></td>
                </tr>
            </table>
        {{ form_end(dogForm) }}
    </div>
{% endblock %}
