{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div id="register">
        <h1>Register</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {# {{ form_row(registrationForm.agreeTerms) }} #}

            <p>Already have an account? <a href="{{path('app_login')}}">Log In</a></p>

            <button type="submit" class="btn btn-lg btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
